@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/*Config Global*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Celular*/


@media (max-width: 460px) {


    /*Área De navegação*/


    body {
        background: linear-gradient(To right, rgb(1, 22, 64) 10%, rgb(6, 42, 116) 60%, rgb(54, 25, 115) 90%);
        min-height: 800px;
    }

    a {
        color: rgb(207, 203, 203);
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    .imgtop {
        height: 200px;
        width: 200px;
        border-radius: 15em;
        border: solid 3px rgb(73, 194, 242);
        cursor: pointer;
    }

    .centerimg {
        display: flex;
        justify-content: center;
        margin: 12em;
    }

    .centerimg2 {
        display: flex;
        justify-content: center;
    }

    .naveg {
        text-align: center;
        background-color: #24242e;
        height: 60px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .nav-area {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .nav-area li {
        margin-left: 22px;
        margin-top: 20px;
        letter-spacing: 2px;

    }

    .nav-area li a:hover {
        padding: 6px;
        background-color: #505253;
        color: white;
        border-radius: 5px;
    }


    /*Área De Membros*/


    .title {
        color: white;
        text-align: center;
        padding-top: 1em;
        font-family: 'Poppins', sans-serif;
        text-shadow: 4px 2px black;
    }

    .pp {
        font-size: 20px;
        color: white;
        padding-bottom: 2em;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        ;
        text-shadow: 4px 2px black;
    }

    .all_members {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    .Participantes img {
        height: 200px;
        width: 200px;
        border: solid aqua;
        border-radius: 12em;
    }

    .top-page {
        padding-top: 2em;
    }

    .final{
        width: 100%;
        height: auto;
        background-color: #24242e;
        position: absolute;
        bottom: 0px;
        padding: 4%;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .text1{

        font-size: 20px;
        color: white;
        font-family: arial;
        font-weight: 700;
        
        
    }

    .img1{
        width: 20vh;
        height: 6vh;
        margin: 2.4%;
    
    }

    .img2{
        width: 6vh;
        height: 6vh;
        margin: 2.4%;
       
        
    }

    .img3{
        width: 6vh;
        height: 6vh;
        margin: 2.4%;
       
    }
}


/*Pc/Laptop*/


@media (min-width: 1000px) {


    /*Área De navegação*/


    body {

        background: linear-gradient(To right, rgb(0, 21, 64) 10%, rgb(6, 42, 116) 60%, rgb(54, 25, 115) 90%);
        min-height: 800px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }


    a {
        color: rgb(207, 203, 203);
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    .imgtop {

        height: 230px;
        width: 230px;
        border-radius: 15em;
        border: solid 3px #49c2f2;
        cursor: pointer;
    }

    .centerimg {

        display: flex;
        justify-content: center;
        margin: 12em;
    }

    .centerimg2 {
        display: flex;
        justify-content: center;
    }

    .naveg {
        text-align: center;
        background-color: #24242e;
        height: 60px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .nav-area {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .nav-area li {
        margin-left: 32px;
        margin-top: 20px;
        letter-spacing: 2px;

    }

    .nav-area li a:hover {
        padding: 6px;
        background-color: #505253;
        color: white;
        border-radius: 5px;

    }


    /*Área De Membros*/


    .title {
        color: white;
        text-align: center;
        padding: 1em;
        font-family: 'Poppins', sans-serif;
        text-shadow: 4px 2px black;
    }

    .pp {
        font-size: 20px;
        color: white;
        padding-bottom: 2em;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        ;
        text-shadow: 4px 2px black;
    }

    .all_members {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    .Participantes img {
        height: 300px;
        width: 300px;
        border: solid aqua;
        border-radius: 12em;
    }

    .top-page {
        padding-top: 2em;
    }

    .final{
        width: 100%;
        height: 10vh;
        background-color: #24242e;
        position: fixed;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5%;
    }

    .text1{

        font-size: 20px;
        color: white;
        font-family: arial;
        font-weight: 700;
        
    }

    .img1{
        width: 16.5vh;
        height: 5vh;
        margin-left: 30%;
        margin-right: 30%;
    }

    .img2{
        width: 5vh;
        height: 5vh;
        margin-right: 2vh;
    }

    .img3{
        width: 5vh;
        height: 5vh;
        margin-left: 2vh;
       
    }
}


/*Tablet*/


@media (min-width: 461px) and (max-width: 999px) {


    /*Área De navegação*/


    body {

        background: linear-gradient(To right, rgb(1, 22, 64) 10%, rgb(6, 42, 116) 60%, rgb(54, 25, 115) 90%);
        min-height: 800px;
    }

    a {
        color: rgb(207, 203, 203);
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    .centerimg {
        display: flex;
        justify-content: center;
        margin: 12em;
    }

    .centerimg2 {
        display: flex;
        justify-content: center;
    }

    .naveg {
        text-align: center;
        background-color: #24242e;
        height: 60px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .nav-area {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .nav-area li {
        margin-left: 32px;
        margin-top: 20px;
        letter-spacing: 2px;

    }

    .nav-area li a:hover {
        padding: 6px;
        background-color: #505253;
        color: white;
        border-radius: 5px;
    }


    /*Área De Membros*/


    .title {
        color: white;
        text-align: center;
        padding-top: 1em;
        font-family: 'Poppins', sans-serif;
        text-shadow: 4px 2px black;
    }

    .pp {
        font-size: 20px;
        color: white;
        padding-bottom: 2em;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        ;
        text-shadow: 4px 2px black;
    }


    .all_members {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    .Participantes img {
        height: 300px;
        width: 300px;
        border: solid aqua;
        border-radius: 12em;
    }

    .top-page {
        padding-top: 2em;
    }

    .final{
        width: 100%;
        height: 10vh;
        background-color: #24242e;
        position: fixed;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5%;
    }

    .text1{

        font-size: 20px;
        color: white;
        font-family: arial;
        font-weight: 700;
        
    }

    .img1{
        width: 16.5vh;
        height: 5vh;
        margin-left: 10vh;
        margin-right: 10vh;
    }

    .img2{
        width: 5vh;
        height: 5vh;
        margin-right: 2vh;
    }

    .img3{
        width: 5vh;
        height: 5vh;
        margin-left: 2vh;
       
    }

    
}